.slidecontainer {
  width: 100%;
  height: 30px;
}

.limit {
  position: absolute;
}
.limit:first-child {
  padding-right: 10px;
}
.limit:last-child {
  padding-left: 10px;
}

.slider {
  width: 90%;
  margin-left: 10px;

  position: relative;
}
